In [14]:
import pandas as pd
train_df = pd.read_csv('/home/etaylor/code_projects/dubby/data/inbar_train_df.csv')
test_df = pd.read_csv('/home/etaylor/code_projects/dubby/data/inbar_test_df.csv')

In [35]:
import sys
# The path you want to add  
path_to_add = r'/home/etaylor/code_projects/dubby'  
# Add the directory to sys.path  
sys.path.insert(0, path_to_add)

In [15]:
print(len(f"len train_df = {train_df}"))
print(len(f"len test_df = {test_df}"))

3933
3847

In [4]:
train_df.head()

,Unnamed: 0,id,title,post,comment,father_comment,conversation_id,timestamp,meta.success
0,4,t1_cnhuxye,CMV:Essential Oils are bullshit,My wife has recently gotten deeply involved/ob...,[This answer in /r/askscience does a pretty go...,33 My wife has recently gotten deeply invol...,t3_2ro0ti,1.420706e+09,1.0
1,5,t1_cni1m79,CMV:Essential Oils are bullshit,My wife has recently gotten deeply involved/ob...,&amp;#8710; While my view may not have shifted...,36 [This answer in /r/askscience does a pre...,t3_2ro0ti,1.420719e+09,1.0
2,6,t1_cnhowj2,CMV:Essential Oils are bullshit,My wife has recently gotten deeply involved/ob...,Found a nice little [article](http://pediatric...,33 My wife has recently gotten deeply invol...,t3_2ro0ti,1.420696e+09,0.0
3,7,t1_cniedbg,CMV:Essential Oils are bullshit,My wife has recently gotten deeply involved/ob...,Debunking articles typically aren't peer-revie...,61 This article would not be accepted by an...,t3_2ro0ti,1.420758e+09,0.0
4,8,t1_cnhlmdo,CMV: I think the Paris shooting makes a good c...,Thinking about today's news: [BBC](http://www....,&gt;PS: I am not here to talk about USA and it...,64 Thinking about today's news: [BBC](http:...,t3_2rnr30,1.420691e+09,0.0

In [5]:
train_df.columns

Index(['Unnamed: 0', 'id', 'title', 'post', 'comment', 'father_comment',
       'conversation_id', 'timestamp', 'meta.success'],
      dtype='object')

In [36]:
import pandas as pd
from src import prompts


combinations = [
    ['title', 'comment'],
    ['title', 'post', 'comment'],
    ['title', 'post', 'comment', 'father_comment']
]

def process_data_for_classification(df, features):
    
    # Drop rows where 'meta.success' is NaN
    df = df.dropna(subset=['meta.success'])
    
    # Helper function to format the text with labels
    def format_text(row, features):
        formatted_text = prompts.start_task_context_prompt
        formatted_text += ' [SEP] '.join([f"{feature}: {row[feature]}" for feature in features])
        return formatted_text


    result_df = pd.DataFrame()
    result_df['text'] = df.apply(lambda x: format_text(x, features), axis=1)
    result_df['label'] = df['meta.success'].astype(int)

    return result_df

In [27]:
nan_rows = train_df[train_df['meta.success'].isna()]
nan_rows

,Unnamed: 0,id,title,post,comment,father_comment,conversation_id,timestamp,meta.success
7881,9784,t1_ccqhlkh,"I believe the term ""rape survivor"" doesn't mak...",**Disclaimer: I am not trying to offend victim...,Δ,NaN,NaN,NaN,NaN
7882,I liked that you said victim and survivor both...,"147309 I am a male, I was raped once by a t...",t3_1o7aa8,1381624616,1,NaN,NaN,NaN,NaN

In [37]:
processed_train_df = process_data_for_classification(train_df, combinations[0])

In [39]:
processed_train_df.head()

                                                text  label
0    \nAs the Delta Classifier (DC), your role is...      1
1    \nAs the Delta Classifier (DC), your role is...      1
2    \nAs the Delta Classifier (DC), your role is...      0
3    \nAs the Delta Classifier (DC), your role is...      0
4    \nAs the Delta Classifier (DC), your role is...      0

1526